.App {
	text-align: center;
}

.canvas {
	width: 100vw;
	height: 100vh;
	position: fixed;
	left: 0;
}

.mode_chooser {
	position: absolute;
	top: 50%;
	transform: translateY(-50%) translateX(-50%);
	left: 50%;
}
